@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Common css style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 1.5rem;
    background-size: 55%, 7% 88%;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 1.16rem 1.5rem;
}

.btn-secondary {
    font-weight: 700;
    font-size: 20px;
    background: #ffffff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 1.16rem 1.8rem;
    margin-left: 30px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 75%;
}

section {
    padding-top: 130px;
}

main {
    width: 100%;
}

/* Navigation Styles */
.nav-menu {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 3.5rem;
}

.nav-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}

.nav-title-style {
    color: #FD6E0A;
}

.nav-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.nav-list-item li {
    list-style: none;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
}


/* Banner Styles */

.banner {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    position: relative;
}

.banner-content {
    margin-left: 175px;
}

.banner-greeting {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 5px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    margin-bottom: 30px;
    line-height: 1.5rem;
    font-size: 18px;
}

.banner-img {
    text-align: right;
    padding-right: 38px;
    height: 679px;
    width: 85%;
}

.banner-img img {
    height: 100%;
    margin-bottom: -6px;
}

/* about section  */

.about-me {
    background: #FFF8F3;
    border-radius: 10px;
}

.about-me>div {
    padding: 140px 130px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What i do section styles */

.what-i-do .section-description {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.skill {
    display: flex;
    gap: 24px;
}

.skill-info {

    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill .skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* Resume styles */

.resume .contact-title {
    margin-bottom: 113px;
    text-align: left;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-item-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.resume-description {
    margin-top: 20px;
    color: #757575;
    margin-right: 40px;
}

.resume-btn {
    text-align: center;
    margin-top: 50px;
}

/* Contact styles */
.contact {
    margin-top: 113px;
    background: #FFF8F3;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-around;
    gap: 117px;
    padding: 130px 0;
}

.contact-description {
    color: #474747;
    margin-bottom: 30px;
}

.contact-form ul {
    display: flex;
    padding: 0;

}

.contact-form ul li {
    list-style: none;
    margin-right: 25px;
    color: #53351f;
    border: 1px solid #53351f;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form ul li:hover {
    list-style: none;
    margin-right: 25px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-form .input-form,
textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 18px 0 18px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #757575;
    background: #f891622f;
}