@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    padding-top: 51px;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 23px;
    background-size: 710px 440px, 100px 688px;
}

.btn-primary {

    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 35px 19px 36px;
}

.btn-secondary {
    font-weight: 700;
    font-size: 20px;
    background: #ffffff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
    margin-left: 30px;
}

/* Navigation Styles */

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}

.nav-title-style {
    color: #FD6E0A;
}

.nav-list-item {
    display: flex;
    align-items: center;
}

.nav-list-item li {
    list-style: none;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
    margin-left: 51px;
}


/* Banner Styles */


.banner {
    display: flex;
    align-items: center;
    margin: 0 0 0 200px;


}

.banner div {

    width: 585px;
    height: 370px;

}

.banner-greeting {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 5px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    margin-bottom: 30px;
    line-height: 1.5rem;
    font-size: 18px;
}


.banner-img {
    border: 1px solid #000000;
    margin-top: 47px;
    margin-left: 115px;
    width: 500px;
    height: 592px
}

/* Main section style */
main {
    max-width: 1015px;
    margin: 0 auto;
}

/* About section styles */
section {
    margin-top: 130px;
}

.about-me {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 140px;

}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What i do section styles */

.what-i-do .section-description {
    padding: 0 140px;
    text-align: center;
    margin-bottom: 50px;
}

.skill {
    display: flex;
    gap: 24px;
}

.skill-info {

    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill .skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* Resume styles */

.resume .contact-title {
    margin-bottom: 113px;
    text-align: left;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-item-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.resume-description {
    margin-top: 20px;
    color: #757575;
    margin-right: 40px;
}

.resume-btn {
    text-align: center;
    margin-top: 50px;
}

/* Contact styles */
.contact {
    margin-top: 113px;
    background: #FFF8F3;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-around;
    gap: 117px;
    max-width: 1015px;
    margin: 0 auto;
    padding: 130px 140px;
}

.contact-description {
    color: #474747;
    margin-bottom: 30px;
}

.contact-form ul {
    display: flex;
    padding: 0;

}

.contact-form ul li {
    list-style: none;
    margin-right: 25px;
    color: #53351f;
    border: 1px solid #53351f;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form ul li:hover {
    list-style: none;
    margin-right: 25px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form .input-form,
textarea {
    width: 100%;
    margin-bottom: 24px;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #757575;
    background: #f891622f;
}